.indiv_padding1{
	padding-left:4px;
}
.indiv_padding2{
	padding-left:8px;
}
.indiv_padding3{
	padding-left:12px;
}
.indiv_padding4{
	padding-left:16px;
}
.indiv_padding5{
	padding-left:20px;
}
.indiv_padding6{
	padding-left:24px;
}
.indiv_padding7{
	padding-left:28px;
}
.indiv_padding8{
	padding-left:32px;
}
.indiv_padding9{
	padding-left:36px;
}
.indiv_padding10{
	padding-left:40px;
}
.header_padding1{
	padding-left:5px;
}
.header_padding2{
	padding-left:10px;
}
.header_padding3{
	padding-left:15px;
}
.header_padding4{
	padding-left:20px;
}
.header_padding5{
	padding-left:25px;
}
.header_padding6{
	padding-left:30px;
}
.header_padding7{
	padding-left:35px;
}
.header_padding8{
	padding-left:40px;
}
.header_padding9{
	padding-left:45px;
}
.header_padding10{
	padding-left:50px;
}
